* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: "inherit";
	vertical-align: baseline;
	font-family: 'Rubik', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Rubik', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 1260px;
	margin: 0px auto;
}


/*HEADER*/

header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 999;
}

header .header-navbar {
	padding: 12px 0px;
}

header .header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 15px;
	
}

header .container .logo {
	padding: 10px 0px;
	margin-right: 24px;
	color:#373f50;
	font-weight: 500;
	font-size: 28px;
	line-height: 42px;
	text-align: start;
	display: flex;
	align-items: center;
}


header .container .menu {
	display: flex;
	align-items: center;
	margin-right: auto;
}

header .container .menu li {
	list-style: none;
}

header .container .menu li a {
	text-decoration: none;
	color: #4b566b
}

header .container .menu li a:hover {
	color: #fe696a;
	transition: 0.2s
}

header .container .menu li a:active {
	color: #fe966a;
}

header .menu .menu-item {
	padding: 18px;
	padding-bottom: 14px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #4b566b;
}

header .button {
	padding: 10px 22px;
	align-items: flex-start;
	color: #373f50;
	display: flex;
	font-family: inherit;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
	background-color: #fe696a;
	border: 1px solid #fe696a;
	border-radius: 5px;
	color: white;
	text-align: center;
	cursor: pointer;
}

header .button:hover {
	border-color: #fe3638;
	background-color: #fe3638;
	transition: all ease 0.7s;
}

/*END HEADER*/

/*HERO*/

main .hero {
	max-width: 100%;
	padding: 48px 0px;
	/* height: 650px; */
	display: block;
	background-image: url("/img/intro-hero.jpg");
	background-size: cover;
	background-position: center;
}

.hero .hero-container {
	margin: 0 auto;
	padding: 48px 15px;
	
}

.hero .content-items {
	color: white;
	padding: 16px 15px;
	text-align: center;
}


.hero .hero-content {
	padding: 48px 0;
	/* margin: 0px -15px; */
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.hero-content .content-header{
	padding-bottom: 16px;
	margin: 0 auto;
	margin-bottom: 12px;
	gap: 16px;
}

.content-header .content-header-items {
	display: flex;
	gap: 6px;
	margin: 0px auto;
	justify-content: center;
}

.hero .content-header-items .text-normal {
	font-size: 40px;
	font-weight: 300;
	line-height: 48px;
}

.hero .content-header-items .text-bold {
	font-size: 40px;
	line-height: 48px;
	font-weight: 500;
}

.content-items .content-text-items {
	padding: 0px;
	margin: 0px 8px;
	margin-bottom: 12px;
}

.content-text-items .content-item-1 {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	opacity: 0.7;
	text-align: center;
	margin: 0px 8px;
	margin-bottom: 12px
}

.content-text-items .content-item-2 {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-size: 28px;
	font-weight: 300;
	line-height: 33.6px;
	text-align: center;
	margin: 0px 8px;
	margin-bottom: 12px;
	text-align: center;
}

.button .view-button {
	background-color: #fe696a;
	border: 1px solid #fe696a;
	border-radius: 7px;
	font-size: 17px;
	font-weight: 400;
	line-height: 25.5px;
	text-align: center;
	cursor: pointer;
	padding: 12px 24px;
}

.hero .content-items .button {
	display: flex;
	justify-content: center;
	padding: 48px 0px;
}


.hero .content-items .button:hover a {
	border-color: #fe3638;
	background-color: #fe3638;
	transition: all ease 0.7s;
}

/*HERO SECTION END*/



/*DEMO SECTION*/

.demo .demo-container {
	padding: 48px 15px;
	padding-bottom: 65px
}

.demo .demo-header {
	padding-top: 24px;
	padding-bottom: 8px
}

.demo-header .text-center {
	margin-bottom: 12px;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.text-center .text-center-item-1 {
	font-size: 32px;
	font-weight: 300;
	line-height: 38.4px;
	text-align: center;
	color: #373f50;
}

.text-center .text-center-item-2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 38.4px;
	text-align: center;
	color: #373f50;
}

.demo-header .header-text {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #7d879c;
}

.demo .content-items {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	padding-top: 24px;
}

.content-items .card-hidden {
	position: absolute;
	top: 50%;
	display: flex;
	width: 100%;
	justify-content: center;
}

.img-item .card-hidden-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.img-item .card-hidden-container:hover {
	transition-duration: 0.15s;
	background-color: rgba(43,52,69,0.5);
    z-index: 1;
}


.content .card-hidden i{
	display: none;
}

.content .card-hidden-container:hover i{
	transition-duration: 0.15s;
	display: block;
	margin: 0px 8px;
	padding: 10px 14px;	
	border: 1px solid white;
	background-color: white;
}

/* .content .card-hidden:hover .card-hidden-container {
	background-color: rgb(247, 103, 105);
} */


.content-items .img-item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-radius: 7px;
	border: 1px solid rgb(227, 233, 239);
}

.content-items .img-item img {
	width: 100%;
	height: 100%;

}

.content-items .content-item {
	width: calc(50% - 15px);
	height: 100%;
	position: relative;
}


.content-item .text-item {
	padding: 25px 10px;
	text-align: center;
}


.text-item .img-text {
	font-size: 18px;
	font-weight: 500;
	line-height: 21.6px;
	cursor: pointer;
	transition-duration: 0.25s;
	color: #373f50;
}

.img-text:hover {
	transition-duration: 0.25s;
	color: rgb(247, 103, 105);
}

.img-item .hidden-button i {

	cursor: pointer;
	border-radius: 5px;
	padding: 10px 14px;
	border: 1px solid white;
	margin: 0px 8px;
	font-size: 16px;
	
}

/*DEMO SECTION END*/



/*DETAIL SECTION*/


.detail {
	padding: 48px 0px;
	background-color: rgb(55, 63, 80);
	width: 100%;
}

.detail .detail-container {
	padding: 24px 0px;
}

.detail .content {
	display: flex;
	align-items: center;
	width: 100%;
}

.detail .content .left-content 
{
	width : 37%;
	color: rgb(255, 255, 255);
	padding: 0px 15px;
}

.left-content .content-header 
{
	margin-bottom: 12px;
}


.content-header .item-1 {
	font-size: 32px;
	font-weight: 300;
	line-height: 38.4px;
	text-align: start;
	margin-right: 4px;
}

.content-header .item-2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 38.4px;
	margin-right: 4px;
}

.left-content .content-info {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	opacity: 0.7;
	margin-bottom: 16px
}

.left-content .content-list {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 16px;
	margin-bottom: 16px;
}

.left-content .content-list li {
	margin-bottom: 6.4px
}

.detail .content .right-content {
	width: 63%;
	margin-left: auto;
	padding: 0px 15px;
	display: block;
	margin-left: 105px;
	/* background-image: url(/img/pages-showcase.jpg);
	background-size: cover;
	background-position: center; */
}

.right-content img {	
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}

/* END DETAIL SECTION*/

/* MOBILEFONT SECTION*/

.mobilefont {
	padding: 24px 0px;
	background-color: #f6f9fc;
}

.mobilefont .mobilefont-container {
	padding: 0px 15px;
}

.mobilefont .mobilefont-items {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-left: -60px;
}


.mobilefont .mobilefont-items .left-items {
	display: flex;
	flex-direction: column;
	width: 35%;
	text-align: center;
	margin: auto 0px;
	margin-left: auto;
	padding: 0px 15px;
}

.left-items .version {
	padding: 3.5px 8.75px;
	margin-bottom: 24px;
	border-radius: 2.8px;
	color:rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}

.left-items .header-item {
	font-size: 32px;
	font-weight: 300;
	line-height: 38.4px;
	text-align: center;
	color: #373f50;
	margin-bottom: 12px;
}


.left-items .header-item .header-text-up {
	text-align: center;
	justify-content: center;
}


.left-items .header-item .left-text {
	
}

.left-items .header-item .right-text {
	font-size: 32px;
	font-weight: 500;
	line-height: 38.4px;
	
}

.left-items .info-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 8px;
	margin-bottom: 16px;
	color: #7d879c;
}

.left-items .info-text span {
	font-weight: 500;
}

.left-items .QR-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #4b566b;
	margin-bottom: 16px;
	text-align: center;
}


.left-items .QR-img-container {
	width: 100%;
	max-width: 100%;
	text-align: center;	
}

.mobilefont .mobilefont-items .right-items {
	width: calc(50% - 30px)
}
/* END MOBILEFONT SECTION*/



/*SECTION FEATURE*/

.feature {
	padding: 48px 0px;

}

.feature .feature-container {
	padding: 24px 15px;
	text-align: center;

}

.feature-container .feature-header {
	font-size: 32px;
	font-weight: 500;
	line-height: 38.4px;
	margin-bottom: 24px;
	color: rgb(55, 63, 80);
	text-align: center;
}

.feature-header span {
	font-weight: 300;

}

.feature .feature-items {
	display: flex;
	flex-wrap: wrap;
	padding-top: 24px;
	margin: 0px -15px;
	gap: 30px;
	margin-bottom: 30px;
}

.feature .feature-items .feature-item {
	width: calc(25% - 30px);
	padding-bottom: 8px;
	text-align: center;
}

.feature-item img {
	margin-bottom: 16px;
}

.feature-item .feature-item-header {
	margin-bottom: 12px;
	font-size: 17px;
	font-weight: 500;
	line-height: 20.5px;
	color: #373f50;
}

.feature-item p {
	font-size: 13px;
	font-weight: 400;
	line-height: 19.5px;
	color: #7d879c;
}

.feature-container .last-text {
	font-size: 17px;
	font-weight: 500;
	line-height: 20.4px;
	margin-bottom: 12px;
	color: #373f50;
}

/*FEATURE END*/

/*FOOTER*/

footer {
	border-top: 1px solid rgb(227, 233, 239);
	padding: 48px 0px;
}

.footer-container {
	/* display: flex; */
	/* flex-direction: column; */
	text-align: center;
	align-items: center;
}

.footer-container .header-text-up {
	display: block;
	font-size: 28px;
	font-weight: 300;
	line-height: 33.6px;
	color: #373f50;
	margin-bottom: 12px;
}

.footer-container .header-text-down {
	display: block;
	font-size: 32px;
	font-weight: 500;
	line-height: 38.4px;
	padding-bottom: 24px;
	margin-bottom: 12px;
	color: #373f50;;
}

footer .button {
	display: block;
	margin: auto;
	padding: 12px 22px;
	align-items: flex-start;
	color: #373f50;
	display: flex;
	font-family: inherit;
	font-size: 17px;
	font-weight: 400;
	line-height: 25.5px;
	background-color: #fe696a;
	border: 1px solid #fe696a;
	border-radius: 5px;
	color: white;
	text-align: center;
	cursor: pointer;
}

footer .button:hover {
	border-color: #fe3638;
	background-color: #fe3638;
	transition: all ease 0.7s;
}

footer .footer-container hr {
	margin: 48px 0px;
	border: 1px solid rgb(227, 233, 239);
}

footer .footer-container .last-text {
	font-size: 13px;
	font-weight: 400;
	line-height: 19.5px;
	color: #7d879c;
}

.last-text a {
	text-decoration: none;
	color: #7d879c;
}